[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
pyaudio = "*"
scikit-learn = "*"
librosa = "*"
seaborn = "*"
python-speech-features = "*"
pymilvus = "*"
torch = "*"

[dev-packages]
ipykernel = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
